<!DOCTYPE html>
<html ng-app="listaTelefonica">
  <head>
    <meta charset="utf-8">
    <title>Lista Telefonica</title>
    <style>
      .jumbotron{
        width: 400px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
      }
      .table{
        margin-top: 20px;
      }
      .form-control{
          margin-bottom: 5px;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <script src="lib/angular/angular.js"></script>
    <script>
      var app =angular.module("listaTelefonica", []);

      app.controller("listaTelefonicaCtrl", function ($scope) {
        $scope.app = "Lista Telefonica";
        $scope.contatos = [
          {nome: "Pedro", telefone: "99998888"},
          {nome: "Ana", telefone: "99998877"},
          {nome: "Marias", telefone: "99998866"}
        ];
        $scope.operadoras = [
          {nome: "Oi", codigo: 14, categoria: "Celular"},
          {nome: "Vivo", codigo: 15, categoria: "Celular"},
          {nome: "Tim", codigo: 41, categoria: "Celular"},
          {nome: "GVT", codigo: 25, categoria: "Fixo"},
          {nome: "Embratel", codigo: 21, categoria: "Fixo"}
        ];
        $scope.addContato = function (contato){
          $scope.contatos.push(angular.copy(contato));
          delete $scope.contato;
        }
        $scope.classe="selecionado";
      });
    </script>
  </head>
  <body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
      <h3 ng-bind="app"></h3>
      <table class="table">
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>operadora</th>
        </tr>
        <tr ng-class="classe" ng-repeat="contato in contatos">
          <td>{{contato.nome}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.operadora.nome}}</td>
        </tr>
      </table>
      <hr/>
      <input class="form-control" type="text" ng-model="contato.nome" placeholder="nome"/>
      <input class="form-control" type="text" ng-model="contato.telefone"placeholder="telefone"/>
      <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
        <option value="">Selecione uma operadora.</option>
      </select>
      <button class="btn btn-primary btn-block" ng-click="addContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>

      {{contato}}
    </div>
  </body>
</html>
